i#skills_section .box {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.skills_end {
  background-color: var(--app_background);
}

#skills_content .content {
  display: flex;
  justify-content: center;
}

#skills_section .section_title {
  color: var(--high_contrast_text);
  margin-bottom: 30px;
}

#skills_section .skills_content {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
}

#skills_section .box {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  background-color: var(--ui_element_background);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin: 0 auto;
}

#skills_section .box:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

#skills_section .category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px;
  gap: 10px;
  width: 100%;
  border-radius: 8px;
}

#skills_section .category_title {
  font-size: 24px;
  font-family: proxima_nova_semi_bold;
  font-weight: bold;
  color: var(--high_contrast_text);
  margin-bottom: 10px;
}

#skills_section .skills_list {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

#skills_section .skill {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#skills_section .skill img {
  width: 20px;
  height: 20px;
  margin-bottom: 4px;
  padding-right: 4px;
  transition: transform 0.3s ease;
}

#skills_section .skill span {
  font-family: proxima_nova_semi_bold;
  font-size: 18px;
  color: var(--low_contrast_text);
}

#skills_section .skill:hover span {
  color: var(--hovered_solid_background);
}

@media screen and (max-width: 700px) {
  #skills_section .box {
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
}
